<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>New York Times Search</title>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDizic3MQztAcgefEQrpU73od3m0kQ4Tyc&sensor=TRUE"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">

</head>
<body onload="initialize()">
<center>
    <h1> New York Times Search</h1>

    <div>
            Key Words:<input id="key" type="text" name="key">
            Location:<input id="location" type="text" name="location">
            People:<input id="people" type="text" name="people">
            Time: From <input id="time_start" type="date" name="time_start"> To <input id="time_end" type="date"
                                                                                       name="time_end">
            <input type="button" value="Search" class="btn btn-lg btn-primary" onclick="search()">
    </div>
</center>
<div>
    <div id="map_canvas" style="width:500px; height:800px;"></div>
    <div>

    </div>
</div>
</body>
</html>